.sidebar {
    width: 300px;
    min-height: 100vh;
    background: var(--white);
    color: var(--black);
    padding: 20px;
    position: fixed;

    &__logo {
        font-weight: 700;
        margin-bottom: 18px;
    }

    &__nav {
        margin-top: 20px;

        &-item {
            padding: 8px 0;
        }

        &-link {
            color: inherit;
            text-decoration: none;

            span {
                font-size: 12px;
            }
        }
    }
}