.sidebar {
    width: 250px;
    min-height: 100vh;
    background: var(--white);
    color: var(--black);
    padding: 20px;
    position: fixed;

    &__logo {
        font-weight: 700;
        margin-bottom: 18px;
    }

    nav {
        margin-top: 20px;

        .nav-link {
            display: flex;
            align-items: center;
            padding: 7px 0;

            .icon {
                fill: var(--black);
                margin-right: 5px;
            }

            span {
                font-size: 14px;
            }

            &:hover {
                .icon {
                    fill: var(--blue);
                }
                span {
                    color: var(--blue);
                }
            }
        }
    }
}