:root {
    --ultra-light-grey: #F8F8F8;
    --light-grey: #909399;
    --black: #313131;
    --light-black: #4A4A4A;
    --blue: #409EFF;
    --white: #ffffff;
    --green: #0ECC21;
    --red: #F10707;
}