:root {
    --ultra-light-grey: #F8F8F8;
    --light-grey: #909399;
    --black: #313131;
    --light-black: #4A4A4A;
    --blue: #409EFF;
    --white: #ffffff;
    --red: #F10707;
    
    // Цвета для таблиц
    --table-text: #606266;
    --table-row-bg: #DDE7EB;
    --table-border: #E5E7EB;
    --table-header-bg: #F5F7FA;
    --table-price: #3B3B3B;
    
    // Дополнительные цвета
    --grey-text: #6B7280;
    --dark-grey: #111827;
    --grey-border: #E5E7EB;
    --grey-table-text: #606266;
    --grey-bg: #F3F4F6;
    --tabs-inactive: #A8ABB2;
    --green-success: #67C23A;
}