
@use './_reset';
@use './_sidebar';
@use './_tables';
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");


:root {
  --font-sans: "Inter", system-ui, -apple-system, "Segoe UI", Roboto,
               "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
               "Segoe UI Emoji", "Segoe UI Symbol";

  --el-font-family: var(--font-sans);
}

html, body {
  font-family: var(--font-sans);
}

$primary: #409eff;

@mixin card {
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,.06);
}

p, span {
  color: var(--black);
}

main {
  margin-left: 250px;
  padding: 20px;
  background: var(--ultra-light-grey);
  min-height: 100vh;

  .programm {
    &__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      h1 {
        margin: 0;
        font-weight: 600;
      }

      button {
        color: var(--white);
        background: var(--blue);
        padding: 8px 16px;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.el-popover.el-popper.is-light.el-tooltip {
  width: 350px !important;

  .el-popconfirm__main {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .el-popconfirm__action {
    .el-button {
      & span {
        color: var(--white);
      }
    }

    .is-text {
      & span {
        color: var(--blue);
      }
    }
  }
}